<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script>
    var a = 0;
    function private(){
        a += 1;
        if(a % 2 == 1){
            $("#insert-password").html("");
            $("#insert-password").append('<input type="password" id="password" name="password" placeholder="Введите пароль..."/>');
        }
        else{
            $("#insert-password").html("");
            $("#insert-password").append('');
        }
    }
</script>
</head>
<body>
<form method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="text" id="name" name="name" placeholder="Название комнаты" readonly onfocus="this.removeAttribute('readonly')">
    <input type="checkbox" id="is_private" name="is_private" onclick="private()"> Сделать приватной
    <div id="insert-password">

    </div>
    <input type="submit" value="Создать">
</form>
</body>
</html>