<!doctype html>
<html lang="ru">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/libs/css/style.css" %}>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}>
    <link rel="shortcut icon" href={% static "images/geocoin.png" %}  type="image/png">

    <title>Профиль</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
       <!-- ============================================================== -->
        <!-- navbar -->
        {% include "header.html" %}
        <!-- ============================================================== -->
        {% include "left_sidebar2.html" %}
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="influence-profile">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- content -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- profile -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                            <!-- ============================================================== -->
                            <!-- card profile -->
                            <!-- ============================================================== -->
                            <div class="card" style="width:1590px; height:700px; margin-top:80px">
                                <div class="card-body">
                                    {% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
{{message}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>

{% endfor %}
{% endif %}
                                    <div class="user-avatar d-block" align="center">
                                        {% if image == -1 %}
                                            <img alt="User Avatar" align="center" class="rounded-circle user-avatar-xxl" src={% static "images/default_ava.png" %}>
                                        {% else %}
                                            <img alt="User Avatar" align="center" class="rounded-circle user-avatar-xxl" src="{{image.url}}">
                                        {% endif %}
                                        <div>
                                            <br>
                                        <div class="card" style="width: 20%;">
                                            <div class="card-body">
                                        <form method="post" enctype="multipart/form-data">
                                        {%csrf_token%}
                                        {{form.image}}
                                            <div>
                                            <input type="submit" style="width: 244px" class= "btn btn-success" value="Сохранить картинку">
                                            </div>
                                        </form>
                                              </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <form method="post">
                                    {%csrf_token%}
                                <div class="card-body border-top">
                                    <h3 class="font-16">Основные настройки</h3>
                                    <div class="">
                                        <ul class="list-unstyled mb-0">
                                            <a href="../../accounts/password_reset"><li class="mb-2"><i class="fa fa-lock"></i>Сменить пароль</li></a>
                                        <li class="mb-0"><i class="fa fa-thumb-tack"></i> Задать статус: </li>
                                            <input type="text" class="form-control" id="status" name="status" value="{{status}}">
                                    </ul>
                                    </div>
                                </div>
                                <div class="card-body border-top">
                                    <h3 class="font-16">Настройки приватности</h3>
                                    <div class="">
                                        <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><i class="fa fa-ban"></i> Не показывать мои чаты другим пользователям
                                            <input type="checkbox" name="private_chats" id="private_chats" {{private_chats}}>
                                        </li>

                                        <li class="mb-0"><i class="fa fa-users"></i> Не показывать мою личную информацию другим пользователям
                                            <input type="checkbox" name="private_info" id="private_info" {{private_info}}>

                                        </li>

                                    </ul>
                                    </div>
                                </div>
                                    <input type="submit" class= "btn btn-success" style="width:100%" value="Сохранить изменения">
                                </form>

                            </div>
                            <!-- ============================================================== -->
                            <!-- end card profile -->
                            <!-- ============================================================== -->
                        </div>
                        <!-- ============================================================== -->
                        <!-- end profile -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- campaign data -->
                        <!-- ============================================================== -->

                            <!-- ============================================================== -->
                            <!-- end campaign tab one -->
                            <!-- ============================================================== -->
                        </div>
                    <div class="tab-content" id="pills-tabContent" >
                                    <div class="tab-pane fade show active" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">
                                        <div class="row">

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="section-block">
                                                </div>
                                            </div>
                                </div>
                        <!-- ============================================================== -->
                        <!-- end campaign data -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end content -->
            <!-- ============================================================== -->
            <div class="footer" style="margin-left:0px; width:1640px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             FS102/Geo chat©
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="">О нас</a>
                                <a href=";">Поддержка</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1  -->


</body>
<script type="text/javascript" src={% static "assets/vendor/jquery/jquery-3.3.1.min.js" %} ></script>
    <script type="text/javascript" src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %} ></script>
    <script type="text/javascript" src={% static "assets/libs/js/main-js.js" %} ></script>
</html>