<!doctype html>
<html lang="ru">

 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/libs/css/style.css" %}>
    <script type="text/javascript" src={% static "assets/vendor/jquery/jquery-3.3.1.min.js" %} ></script>
    <script type="text/javascript" src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %} ></script>
    <script type="text/javascript" src={% static "assets/libs/js/main-js.js" %} ></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7abcaac9-c988-4344-9b01-50d57672abf2&lang=ru_RU" type="text/javascript" width="100%"></script>
    <link rel="shortcut icon" href={% static "images/geocoin.png" %}  type="image/png">


    <title>Профиль</title>
    <style>
    .row.content {height: 1500px}
    .profile {
      background-color: #f2f2f2;
      height: 100%;
    }
    footer {
      background-color: #545;
      color: white;
      padding: 16px;
    }
    @media screen and (max-width: 767px) {
      .profile {
        height: auto;
        padding: 16px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
       <!-- ============================================================== -->
        <!-- navbar -->
        {% include "header.html" %}
        {% include "left_sidebar2.html" %}
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="influence-profile">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- content -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- profile -->
                        <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- card profile -->
                            <!-- ============================================================== -->
                            <div class="card" style="width:100%; height:700px; margin-top:80px; min-width:320px">
                                <div class="card-body">
                                    <div class="user-avatar text-center d-block">
                                        {% if image == -1 %}
                                            <img alt="User Avatar"  class="rounded-circle user-avatar-xxl" src={% static "images/default_ava.png" %}>
                                        {% else %}
                                            <img alt="User Avatar"  class="rounded-circle user-avatar-xxl" src="{{image.url}}">
                                        {% endif %}
                                    </div>
                                    <div class="text-center">
                                        <h2 class="font-24 mb-0">{{username}}</h2>
                                        <p>{{status}}</p>
                                    </div>
                                </div>
                                <div class="card-body border-top">
                                    <h3 class="font-16">Информация о профиле</h3>
                                    {% if private_info and request.user.id != id %}
                                        Этот пользователь скрыл личную информацию о себе.
                                    {% else %}
                                    <div class="">
                                        <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><i class="fa fa-envelope"></i> {{email}}</li>
                                        <li class="mb-0"><i class="fa fa-calendar"></i> Дата регистрации:{{last_login}}</li>
                                    </ul>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card-body border-top">
                                    {% if private_info and request.user.id != id %}
                                        Этот пользователь скрыл личную информацию о себе.
                                    {% else %}
                                    <h3 class="font-16">Баланс</h3>
                                    <h1 class="mb-0" id="profile-balance">{{my_balance}}<img src={% static "images/geocoin.png" %} style="width: 40px;height: 40px"></h1>
                                    {% endif %}
                                </div>

                            </div>
                            <!-- ============================================================== -->
                            <!-- end card profile -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                        <!-- end profile -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- campaign data -->
                        <!-- ============================================================== -->

                            <!-- ============================================================== -->
                            <!-- end campaign tab one -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
                    <div class="container-fluid dashboard-content ">
                    <div class="tab-content" id="pills-tabContent" >
                                    <div class="tab-pane fade show active" id="pills-campaign" role="tabpanel" aria-labelledby="pills-campaign-tab">
                                        <div class="row">

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="section-block">
                                                    <h3 class="section-title">Созданные чаты:</h3>
                                                </div>
                                            </div>
                                            {% if private_chats and request.user.id != id %}
                                                Этот пользователь скрыл созданные чаты.
                                            {% else %}
                                            {% if room_len == True %}
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="section-block">
                                                    <h3 class="section-title">Этот пользователь не создал ни одного чата.</h3>
                                                </div>
                                            </div>
                                                {% else %}
                                            {% for room in created_rooms %}
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-right: 190px">
                                                <div class="card" style="width: 100%; height: 420px; min-width:350px">
                                                    <div class="card-body">
                                                       <!-- <a href="../room/{{room.id}}"><h1 class="mb-1">{{room.name}}</h1></a> -->
                                                        <h1 class="mb-1">{{room.name}}</h1>
                                                        <div id="map{{room.id}}" style="width: 100%; height: 300px; min-width:300px"></div>
                                                        <p id="addr{{room.id}}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% endif %}
                                </div>
                                        </div>
                        <!-- ============================================================== -->
                        <!-- end campaign data -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end content -->
            <!-- ============================================================== -->
            {%include "footer.html"%}
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1  -->

   <script>
    function maps() {
        $.ajax({
            url: "/ajax-maps-draw/"+{{id}},
            success: function (result) {
                var json = $.parseJSON(result);

                json.forEach(function(item, i, json) {
                    ymaps.ready(function () {
    var myMap = new ymaps.Map('map'+json[i].id+'', {
        center: [json[i].x,json[i].y],
        zoom:15,
        controls: ['smallMapDefaultSet']
    },

    {
        // Зададим ограниченную область прямоугольником,
        restrictMapArea: true
    });
       myPlacemark1 = new ymaps.Placemark([json[i].x,json[i].y], {

            balloonContent: '<img alt="User Avatar" style="width: 32px; height: 32px;" class="rounded-circle user-avatar-xxl" src="'+json[i].image+'">'+json[i].name+'',
            hintContent: '<a>'+json[i].name+'</a>'
        }, {

            preset: 'islands#greenCircleIcon'
        }),


    myMap.geoObjects.add(myPlacemark1);

    getAddress(json[i].x,json[i].y,json[i].id)
});

                });

            }

        });

    }
    maps();
    function getAddress(x,y,id) {
    ymaps.geocode([x,y]).then(function(res) {
        var firstGeoObject = res.geoObjects.get(0);
        document.getElementById('addr'+id+'').innerHTML = firstGeoObject.getAddressLine();
      }
    )}
   </script>
</body>

</html>