<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" type='text/css' media='screen' href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}>
    <link rel="shortcut icon" href={% static "images/geocoin.png" %}  type="image/png">
    <link rel="stylesheet" type='text/css' media='screen' href={% static "assets/libs/css/style.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <title>Сброс пароля</title>
</head>
<body>
     {%load static%}
     <div class="dashboard-main-wrapper" >
     <div class="dashboard-header" style="width:100%">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../../">Geo Chat</a>
            </nav>
        </div>
        {% include "left_sidebar2.html" %}

<div class="dashboard-wrapper">
            <div class="influence-profile">
                <div class="container-fluid dashboard-content ">

                    <div class="row">

                            <div class="card" style="max-width:1590px; height:70px; margin-top:80px; width:100%">
                                <div class="auth" align="center">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="text" id="email" name="email" class="form-control"  placeholder="Ваш Email" style="width:100%">
                                        <input type="submit" class="btn btn-primary" style="width:100%"  value="Восстановить пароль" style="width:100%">
                                        {% if form.email.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    {{ form.email.errors }}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                        {% endif %}
                                    </form>
                                 </div>
                        </div>
                        <!-- ============================================================== -->
                    </div>
            </div>
            <!-- ============================================================== -->
            <!-- end content -->
            <!-- ============================================================== -->
            <div class="footer" style="margin-left:0px;width:100%">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             FS102/Geo chat©
                        </div>

                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper -->
        <!-- ============================================================== -->
    </div>
     </div>
</body>
</html>
    <script type="text/javascript" src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %} ></script>
    <script type="text/javascript" src={% static "assets/vendor/slimscroll/jquery.slimscroll.js" %} ></script>
    <script type="text/javascript" src={% static "assets/libs/js/main-js.js" %} ></script>
