<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/libs/css/style.css" %}>
    <link rel="shortcut icon" href={% static "images/geocoin.png" %}  type="image/png">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <title>Сброс пароля</title>
</head>
<body>
{%load static%}
<div class="dashboard-header">

            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../../../../">Geo Chat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
<br>
<br>
<br>
<br>
<h2>Мы отправили инструкцию по восстановлению пароля на вашу почту. Если в течение нескольких минут ничего не пришло, проверьте спам.</h2>
<a href="../../../"><button class="btn btn-primary" style="width:100%" >На главную</button></a>

</body>
</html>
<script type="text/javascript" src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %} ></script>
