<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/libs/css/style.css" %}>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7abcaac9-c988-4344-9b01-50d57672abf2&lang=ru_RU" type="text/javascript"></script>    <script src="../../../../static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../../../static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <title>Сброс пароля</title>
</head>
<body>
{%load static%}
<div class="dashboard-header">

            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../../../../">Geo Chat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
<br>
<br>
<br>
<br>
<h2>Мы отправили инструкцию по восстановлению пароля на вашу почту. Если в течение нескольких минут ничего не пришло, проверьте спам.</h2>
<a href="../../../"><button class="btn btn-primary" style="width:100%" >На главную</button></a>

</body>
</html>