<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" type='text/css' media='screen' href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}>
    <link rel="shortcut icon" href={% static "images/geocoin.png" %}  type="image/png">
    <link rel="stylesheet" type='text/css' media='screen' href={% static "assets/libs/css/style.css" %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Сброс пароля</title>
</head>
<body>
     {%load static%}
     <div class="dashboard-main-wrapper" >
     <div class="dashboard-header" style="width:100%">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../../../../">Geo Chat</a>
            </nav>
        </div>
     {% include "left_sidebar2.html" %}

<div class="dashboard-wrapper">
            <div class="influence-profile">
                <div class="container-fluid dashboard-content ">

                    <div class="row">

                            <div class="card" style="width:1590px; height:230px; margin-top:80px">
{% if validlink %}
    <div class="auth" align="center">
        <h2>Введите (и подтвердите) новый пароль.</h2>
        <form action="" method="post">
            {% csrf_token %}
            <input type="password" id="new_password1" name="new_password1" class="form-control" placeholder="Новый пароль">
            <input type="password" id="new_password2" name="new_password2" class="form-control" placeholder="Подтвердите пароль">
            <ul>
                <li><h5 align="left">Ваш пароль должен состоять не менее чем из 8 символов</h5></li>
                <li><h5 align="left">Ваш пароль должен обязательно содержать одну цифру, одну букву в верхнем регистре</h5></li>
            </ul>

            <input type="submit" class="btn btn-success" style="width:100%" value="Изменить пароль" >
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="height:50px">
                Проверьте правильность введённого пароля!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
        </form>
    </div>
    {% else %}
         <div class="alert alert-danger alert-dismissible fade show" role="alert" align="center" style="height:100%, width:100%">
               <h3>Ошибка смены пароля</h3>
                <h3>Ссылка восстановления парола больше недействительна, возможно она уже использовалась. Пожалуйста, запросите смену пароля снова.</h3>
            </div>
    {% endif %}

                            </div>
                        </div>
                        <!-- ============================================================== -->
                    </div>
            </div>
            <!-- ============================================================== -->
            <!-- end content -->
            <!-- ============================================================== -->
            <div class="footer" style="margin-left:0px;width:100%">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             FS102/Geo chat©
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper -->
</div><!-- ============================================================== -->

</body>
</html>
<script type="text/javascript" src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %} ></script>
    <script type="text/javascript" src={% static "assets/vendor/slimscroll/jquery.slimscroll.js" %} ></script>
    <script type="text/javascript" src={% static "assets/libs/js/main-js.js" %} ></script>