image: python:latest

before_script:
  - python -V

stages:
  - lint
  - test
  - docs
  - badges
  - deploy

pylint:
  stage: lint
  before_script:
    - pip install -r ./ci/pylint_requirements.txt
  script:
    - ./ci/pylint_runner.sh
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - public/pylint.svg
      - public/pylint.html

test:
  stage: test
  variables:
    DEBUG: "True"
    TEST_MODE: "True"
  before_script:
    - pip install -r requirements.txt
    - mkdir -p public
  script:
    - ./ci/pytest.sh
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - public/pytest.txt
      - public/htmlcov

docs:
  stage: docs
  before_script:
    - pip install -r requirements.txt
    - pip install sphinx_rtd_theme
    - mkdir -p public
    - cd docs
  script:
      - make html
      - cp -r ./build/html ../public
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - docs
      
sphinks_link:
  stage: badges
  before_script:
    - echo "Python other dependencies installation"
    - pip install anybadge
  script:
    - anybadge -l "Docs" -v "Sphinx" -f doc-link.svg -c blue
  artifacts:
    paths:
      - doc-link.svg
    when: always
    expire_in: 4 weeks
  only:
    - master


pages:
  stage: deploy
  script:
      - echo 'Publish pages data'
  artifacts:
    paths:
      - public
  only:
    - master

