
image: python:latest

cache:
  paths:
  - .cache/pip/

before_script:
  - python -V

stages:
  - lint
  - test
  - deploy

pylint:
  stage: lint
  before_script:
    - pip install -r pylint_requirements.txt
  script:
    - ./ci/pylint_runner.sh
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - pylint.txt

pytest:
  stage: test
  services:
    - name: redis:alpine
      alias: redis
    - name: redis:alpine
      alias: redis_coin
  variables:
    DEBUG: "True"
    TEST_MODE: "True"
  before_script:
    - pip install -r pylint_requirements.txt
  script:
    - ./ci/pytest.sh
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - pytest.txt
      - htmlcov
