image: python:latest

before_script:
  - python -V

stages:
  - lint
  - test
  - docs
  - deploy

pylint:
  stage: lint
  before_script:
    - pip install -r ./ci/pylint_requirements.txt
  script:
    - ./ci/pylint_runner.sh
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - public/pylint.svg
      - public/pylint.html

test:
  stage: test
  variables:
    DEBUG: "True"
    TEST_MODE: "True"
  before_script:
    - pip install -r requirements.txt
  script:
    - ./ci/pytest.sh
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - pytest.txt
      - htmlcov

docs:
  stage: docs
  before_script:
    - pip install -r requirements.txt
    - pip install sphinx_rtd_theme
    - cd docs
  script:
      - make html
  after_script:
    - mkdir -p .cache
    - cp -r ~/.cache/pip ./.cache/pip
  artifacts:
    paths:
      - docs

pages:
  stage: deploy
  script:
      - echo 'Publish pages data'
  artifacts:
    paths:
      - public
  only:
    - master
